<% include partials/head %>
<body style="padding:5px;" onload="uzliktLaiku()">
	<header class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-nav-scroll">
		   	<ul class="navbar-nav bd-navbar-nav flex-row">
			    <li id ="logotajs" style="display:block;" class="nav-item g-signin2" data-onsuccess="onSignIn"></li>
			    <li class="nav-item"><p class="navbar-brand" style=" margin:0em 0em 0em 1em; font-size:0.7em;" onclick="signOut();" id="logins">Izlogojies</p></li>  
		    </ul>    
	 	</div>

	 	<div id="apkopojums" style=" left: 50%; position: sticky; margin-top: 10px;">Apkopojums</div>
	 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span> 
		</button>
	 	<div class="collapse navbar-collapse" id="navbarNavDropdown">
	  		<ul class="navbar-nav flex-row ml-md-auto d-md-flex" style="font-size:2em; color:Tomato; padding-right: 25px;">
	 
			    <li class="nav-item ">
			  		<button style=" padding: 2px; margin-right: 20px;" id="apkopojums" type="button" class="btn"><a href="/todo">Home</a></button>
			    </li>
			    <li class="nav-item ">
			     	<i class="fas fa-bug " title="pamâcîba" onclick="pamacibaLogs()"></i>
			    </li>
			    <li class="nav-item ">
			    	<i class="fas fa-cog" title="iestatîjumi" onclick="setingLogs()"></i>
			    </li>
			     <li class="nav-item ">
			    	<label>Komercvienība</label>
			    </li>
		  	</ul>
	  	</div>
	</header>

<form class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <label for="Datums" class="Date">Datums:  </label>
    <input type="Date" class="form-control" id="datumsQQ" >
  </div>
  <button type="" class="btn btn-primary mb-2">Atlasīt datus</button>
</form>


	<body>
<div class="container row" style="margin:0px; padding:0px;">
<div style="margin:0px; padding:0px;" class=" col-sm-0 col-lg-5">šeit ir 5 liela atstarpe priekš papildus tabulām un vidžetiem</div>
<div style= "background-color:#f4f4f4; margin:0px; padding:0px;" class="col-sm-12 col-lg-7" >


	<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
     
      <th scope="col">Datums</th>
      <th scope="col">Cilvēks</th>
    
      <th scope="col">Nosaukums</th>
      <th scope="col">Rīts</th>
      <th scope="col">Diena</th>
      <th scope="col">Vakars</th>
      <th scope="col">Komentāri</th>
    </tr>
  </thead>
  <tbody>
  		   <% var j = 0; 

  	var today = new Date().toISOString().split('T')[0];	        
for(var i=0; i < todos.length; i++){ 
if(todos[i].datums == today){
j = j+1;
%>
    <tr>
     
      <td><%= todos[i].datums %></td>
      <td><%= todos[i].cilveks %></td>
     
      <td><%= todos[i].nosaukums %></td>



      <td><%= todos[i].ritsStavoklis %></td>
      <td><%= todos[i].dienaStavoklis %></td>
      <td><%= todos[i].vakarsStavoklis %></td>


      <td>	Rīta: <%= todos[i].ritsAtbilde %>    <br>
      		Dienas: <%= todos[i].dienaAtbilde %>    <br>
      		Vakara: <%= todos[i].vakarsAtbilde %>    <br>

      </td>
     
    </tr>
    <% }} %>
  </tbody>

</table>

</div>

</div>
</body>
<% include partials/footer %>