<% include partials/head %>


<body style="padding:5px;" onload="uzliktLaiku()">
	<header class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="navbar-nav-scroll">
		   	<ul class="navbar-nav bd-navbar-nav flex-row">
			    <li id ="logotajs" style="display:block;" class="nav-item g-signin2" data-onsuccess="onSignIn"></li>
			    <li class="nav-item"><p class="navbar-brand" style=" margin:0em 0em 0em 1em; font-size:0.7em;" onclick="signOut();" id="logins">Izlogojies</p></li>
			   
		    </ul>    
	 	</div>

	 	<div id="dienasdalja" onclick="neradamJauAizpilditos()"; style=" left: 50%; position: sticky; margin-top: 10px;">Diena</div>
	 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span> 
		</button>
	 	<div class="collapse navbar-collapse" id="navbarNavDropdown">
	  		<ul class="navbar-nav flex-row ml-md-auto d-md-flex" style="font-size:2em; color:Tomato; padding-right: 25px;">
	 
			    <li class="nav-item ">
			  		<button style=" padding: 2px;" onclick="#" id="apkopojums" type="button" class="btn"><a href="/apkopojums">Apkopojums</a></button>
			    </li>
			    <li class="nav-item ">
			     	<i class="fas fa-bug " title="pamâcîba" onclick="pamacibaLogs()"></i>
			    </li>
			    <li class="nav-item ">
			    	<i class="fas fa-cog" title="iestatîjumi" onclick="setingLogs()"></i>
			    </li>
			     <li class="nav-item ">
			    	<label>Komercvienība</label>
			    </li>
		  	</ul>
	  	</div>
	</header>

<div class="container row" id="todo-table" style="margin:0px; padding:0px;">
<div  class=" col-sm-0 col-md-3"></div>
<div style= "background-color:#f4f4f4" class="col-sm-12 col-md-9">
	

<ul style="list-style-type:none; padding-left:5px;">

<% var j = 0;      
for(var i=0; i < todos.length; i++){ 
j = j+1;
%>

<li id="uncompletedotraPoga<%= i+1 %>" style="display:none;">
	<form style="margin-bottom: 0px;" method="post" id="form<%=j%>"; />

		<div class="form-group row justify-content-between" style="margin-bottom: 0px;">
			<div style="background-color: #fff; margin-bottom: 0px;" class=" border rounded col-sm-12">
				<div style="margin-bottom: 0px;" class="form-group row">
					<div style="padding: 10px 5px 0px 10px; margin-bottom: 0px; background-color: #fff; color:#03a9f4;" class="col-2">	
						<button type="submit" style=" padding: 2px; background-color: #fff; color:#03a9f4;" id="otraPoga<%=j%>" class="btn poga "><i class="far fa-check-circle fa-2x "></i></button>
					</div>

					<div class=" col-8 col-form-label">
					<label for="text" style="margin-bottom: 0px; font-weight: bold;" ><%= todos[i].nosaukums %></label><br>
					<small for="text"><%= todos[i].apraksts %></small>

				</div>
					<div style="padding: 10px 5px 0px 0px; margin-bottom: 0px;" class="col-2">
						<button style=" padding: 2px;" onclick="myFunction(this)" id="prmaPoga<%=j%>" type="button" class="btn btn-warning">____</button>
					</div>
				</div>

				<div class="form-group row AttprmaPoga<%=j%>" style="display:none;">
					<div class="col-4">
						<button onclick="openWin()"  type="button" class=" btn-sm btn-primary">Aizpildīt formu</button>
					</div>
					<div  class="col-8 border">
						
						
						
						<input style="display:none;" name="datums" id="datums<%=j%>" class="datums" value=""; />
						<input style="display:none;" type="text" class="cilveks" name="cilveks" id="cilveks<%=j%>" placeholder="Ierakstiet komentāru" />
						<input style="display:none;" type="text" class="komercvieniba" name="komercvieniba" id="komercvieniba<%=j%>" placeholder="Ierakstiet komentāru" />
					<input style="display:none;" name="nosaukums" class="nosaukums" id="nosaukums<%=j%>" value="<%= todos[i].nosaukums %>" />
					<input " type="text" class="form-control-plaintext rounded atbilde" name="atbilde" id="atbilde<%=j%>" placeholder="Ierakstiet komentāru" />
						<input style="display:none;" name="atbilst" class="atbilst" id="atbilst<%=j%>" value="____"; />
						<input style="display:none;" name="periods" class="periods" id="periods<%=j%>" value=""; />
						<input style="display:none;" name="condit" class="condit" id="condit<%=j%>" value="<%= todos[i].condit %>"; />
						<input style="display:none;" name="apraksts" class="apraksts" id="apraksts<%=j%>" value="<%= todos[i].apraksts %>"; />
						

						
							<input style="display:none;" name="nummurs" id="nummurs<%=j%>" class="nummurs" value="<%=j%>"; />
					</div>
						<small for="text" class=" col-12 ">Ierakstīt attiecīgā darbinieka vērtējuma lapā</small>
				</div>
			</div>
		</div>
	</form>
</li>
	<% } %>
</ul>
<hr>

<ul style="list-style-type:none; padding-left:5px;">

<% var j = 0;
console.log(todos.length); 
for(var i=0; i < todos.length; i++){ 

j = j+1;
if(todos[i].datums !== "" ){
%>


<li id="completedotraPoga<%= j %>">
	<form style="margin-bottom: 0px;">	
		<div class="form-group row justify-content-between" style="margin-bottom: 0px; background-color: #b8b8c0">
			<div style="background-color: #b8b8c0; margin-bottom: 0px;" class=" border rounded col-sm-12">
				<div style="margin-bottom: 0px;" class="form-group row">

					<div style="padding: 10px 5px 0px 10px; margin-bottom: 0px; background-color: #b8b8c0;" class="col-2">
						<button style=" padding: 2px; background-color: #b8b8c0;" id="otraPoga<%= j %>"  class="btn poga "><i class="fas fa-check-circle fa-2x "></i></button>
					</div>

					<div class=" col-8 col-form-label">
					<label for="text" id="completedNosaukums<%= j %>" style="margin-bottom: 0px; font-weight: bold;" ><%= todos[i].nosaukums %></label><br>
					<small for="text"><%= todos[i].apraksts %></small>

					</div>

					<div style="padding: 10px 5px 0px 0px; margin-bottom: 0px; " class="col-2">
						<button style=" padding: 2px;" id="krasuPoga<%=j%>" type="button" class="btn btn-warning"><%= todos[i].atbilst %></button>
					</div>

				</div>
				<div class="form-group row AttprmaPoga<%=j%>" style="display:none;">
					<div class="col-4">
						
					</div>
					<div  class="col-8 border">
						<input type="text" class="form-control-plaintext rounded" id="staticText" value="<%= todos[i].atbilde %>">
					</div>
				</div>
			</div>
		</div>
	</form>
</li>
	<% }} %>
</ul>
	
<% include partials/footer %>